<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="d:\wcf training\wcfserviceapplication\windowserviceapplication\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="d:\wcf training\wcfserviceapplication\windowserviceapplication\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
    <diagnostics>
        <messageLogging logEntireMessage="true" logMalformedMessages="true"
            logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="Employee.EmployeeService" behaviorConfiguration="myWCFEmployee">
        <endpoint address="http://localhost:8080/WCFEndpoint" binding="basicHttpBinding" contract="Employee.IEmployeeService"></endpoint>
        <!--<endpoint address="http://localhost:8080/WCFEndpoint" binding="webHttpBinding" contract="WCFEmployee.IEmployeeService"></endpoint>-->
        <!--<endpoint address="http://ipv4.fiddler:8080/WCFEndpoint" binding="wsHttpBinding" contract="WCFEmployee.IEmployeeService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="myWCFEmployee">
          <serviceMetadata httpGetEnabled="true"/>
          
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>-->
    </behaviors>
  </system.serviceModel>
</configuration>